# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=kguskfklfrfoomsnxwkt
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtndXNrZmtsZnJmb29tc254d2t0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgwOTg4MjYsImV4cCI6MjA4MzY3NDgyNn0.h5PvtHV7fUouV7W_MWZIFMq8mWaEV8Qma99VX8x-9Zg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtndXNrZmtsZnJmb29tc254d2t0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODA5ODgyNiwiZXhwIjoyMDgzNjc0ODI2fQ.kvSr0Od8oDgYPsOXzsLuEkj0OFcprk6FMQKEuh9dc8E

# Database URL for Drizzle (Direct Connection)
DATABASE_URL=postgresql://postgres:indramayu123@db.kguskfklfrfoomsnxwkt.supabase.co:5432/postgres
